@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

h2{
    text-align: center;
    margin-bottom: 2rem;
}

.title-name,
.title-phone,
.tittle-cargo,
.tittle-weight,
.tittle-unit{
    font-weight: 400;
}

.btn-modal{
    margin-top: 2rem;
    cursor: pointer;
    height: 40px;
    border: 0;
    border-radius: 21px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: rgba(232,4,44);
    color: white;
    margin-right: 15px;
}

.btn-modal:hover{
    background-color: #F5721A;
}