@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.side-bar_profile{
    text-align: center;
    margin-top: 10vh;
}

.name{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 2rem;
}

.register-ally{
    background-color: #E8042C;
    padding: 16px;
    cursor: pointer;
    color: white;
    margin-top: 24px;
    border-radius: 24px;
    border-width: 0;
}

.register-exit{
    background-color: #E8042C;
    padding: 16px 48px;
    font-weight: 400;
    font-size: medium;
    cursor: pointer;
    color: white;
    margin-top: 24px;
    border-radius: 24px;
    border-width: 0;
}

.register-ally:hover{
    background-color: #f5721a;}

.register-exit:hover{
    background-color: #f5721a;
}